body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Lohit-Bengali;
    font-size: 16px;
    line-height: 1.5;
    color: #3A3A3A;
    background-color: #fff;
    margin: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}

div {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
}

h1 {
	font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
p {
    margin:0;
    margin-bottom: 10px;
}

table {
    width:100%;
    border:1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 10px;
}
th {
    text-align: left;
}
tr {
    border: 1px solid #ddd;
}
th {
    background-color: green;
    color:white;
}
tr:nth-child(even) {
    background-color: #f7f7f9;
}
tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table, th, td {
    padding:8px 8px;
}

input {
    width:90%;
    padding:10px;
    margin:3px;
}

img {width:100%;}

.img {
    border:1px solid #CCC;
    padding:4px;
    margin:3px auto;
}

.header {
    padding: 30px 0;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    background:green;
    color:lightgreen;
}

.header p {
    font-weight: 400;
    line-height: 1.4;
    margin: 0 15px;
}

.header h1{
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Satisfy', cursive;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
    text-align: center;
    background:green;
    color:LightGreen;
}

.footer a {color: #fff; padding:0 10px;}
